<h1>Feed</h1>

  <div>

    <%= image_tag current_user.profile_pic_url(:thumb) if current_user.profile_pic? %>
  </div>

<% @following_post.each do |post| %>
  <div class="post">
    <h3><%= post.title %></h3>
    <%= image_tag User.find(post.author).profile_pic %>
    <h5><%= User.find(post.author).first_name %></h5>
    <div class="content">
      <%= image_tag post.image %>
      <%= post.content %>
      <div>
        Created:
        <% if ((Time.now - post.created_at) / 3600).round == 0 %>
          Just now!
        <% else %>
          <%= ((Time.now - post.created_at) / 3600).round  %> hours ago
        <% end %>
      </div>
      <div>
        <% current_user.like_posts.each do |like_post| %>

          <% if like_post.id == post.id %>
            <div>
              <button class="like_btn already_liked" data-postid="<%= post.id %>" data-userid="<%= current_user.id %>">Likes : <%= post.likes.count %></button>
            </div>
          <% else %>
            <div>
              <button class="like_btn not_liked" data-postid="<%= post.id %>" data-userid="<%= current_user.id %>">Likes : <%= post.likes.count %></button>
            </div>
          <% end %>
        <% end %>


      </div>
    </div>
  </div>
<% end %>
