<%= form_for @post, html: {multipart: true} do |f| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :Picture %>
    <%= f.file_field :image %>
  </div>

  <div class ="field">
    <%= f.label :Category %>
    <%= f.select :category_id, options_for_select(@categories.collect {|cat| [ cat.name, cat.id ] }) %>
  </div>

  <div class="submit">
    <%= f.submit %>
  </div>

<% end %>
